@(jobForm: Form[controllers.JobsController.JobForm], jobOptions: List[(String, String)] = List("1" -> "Job 1", "2" -> "Job 2"))(implicit request: RequestHeader, messagesProvider: MessagesProvider)


@import helper._

<h3>Job Detials</h3>
@helper.form(action = controllers.routes.JobsController.save()) {
@helper.inputText(jobForm("job.name"), '_label -> "Job Name:", '_showConstraints -> false)<br/>
@helper.inputText(jobForm("job.minimumDataOutputSize"), '_label -> "Minimum data output size:", '_showConstraints -> false)<br/>
@helper.inputText(jobForm("job.maximumDataOutputSize"), '_label -> "Maximum data output size:", '_showConstraints -> false)<br/>
@helper.inputText(jobForm("job.expectedDuration"), '_label -> "Expected job completion time", '_showConstraints -> false)<br/>
@helper.select(jobForm("dependencies"), options = jobOptions, '_label -> "Depends on", '_showConstraints -> false, 'multiple->"multiple")

<!--<h3>Job Dependencies</h3>
@helper.repeatWithIndex(jobForm("dependencies"), min = 1) { (dependencyField, index) =>
@helper.select(jobForm(dependencyField.name.toString), options = jobOptions, '_label -> "Depends on", '_showConstraints -> false, 'multiple->"multiple")
&lt;!&ndash;@helper.select(jobForm(dependencyField.name.toString + ".jobId"), options = jobOptions, '_label -> "Depends on", '_showConstraints -> false)&ndash;&gt;
}-->

<input type="submit">
}