@(job: repositories.dtos.dtos.Job)
@main(title = "Job Manager - Job Details") {
    <h1>Job Name: @job.name </h1>

    <table border="1px solid black">
        <thead>
            <tr>
                <td>Job Name</td>
                <td>Last Run Date</td>
                <td>Minimum data output size</td>
                <td>Maximum  data output size</td>
                <td>Expected duration</td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><a href="@controllers.routes.JobsController.find(job.id.get)">@job.name</a>
                </td>
                <td>@job.lastRunTime</td>
                <td>@job.minimumDataOutputSize</td>
                <td>@job.maximumDataOutputSize</td>
                <td>@job.expectedDuration</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <form method="GET" action="@controllers.routes.JobsController.index">
                        <input type="submit" value="View All"/>
                        <br/>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>
}