@(jobDetails: Seq[repositories.dtos.dtos.JobDetails], runOrder: Seq[Seq[repositories.dtos.dtos.JobDetails]])
@main(title = "Job Manager - All Jobs") {
    <h1> All Jobs </h1>

    <table border="1px solid black">
        <thead>
            <tr>
                <td>Job Name</td>
                <td>Status</td>
                <td>Last Run Date</td>
                <td>Last Execution Duration(minute)</td>
                <td>Last Output Size(KB)</td>
                <td>Dependant on jobs</td>
                <td colspan="3">Actions</td>
            </tr>
        </thead>
        <tbody>
        @for(jobDetail <- jobDetails) {
            <tr>
                <td><a href="@controllers.routes.JobsController.find(jobDetail.job.id.get)">@jobDetail.job.name</a>
                </td>
                <td>@{
                    if(jobDetail.job.status == 1) "Idle"
                    else if(jobDetail.job.status == 2) "Running"
                    else if(jobDetail.job.status == 3) "Completed"
                        else if(jobDetail.job.status == 4) "Failed"
                            else ""
                }</td>
                <td>@jobDetail.job.lastRunTime</td>
                <td>@jobDetail.job.lastDuration</td>
                <td>@jobDetail.job.lastDataOutputSize</td>
                <td>@jobDetail.parentJobs.map(_.name).mkString(", ")</td>
                <td>
                    <form method="POST" action="@controllers.routes.JobsController.run(jobDetail.job.id.get)">
                        <input type="submit" value="Run"/>
                        <br/>
                    </form>
                </td>
                <td>
                    <form method="POST" action="@controllers.routes.JobsController.update(jobDetail.job.id.get)">
                        <input type="submit" value="Edit"/>
                        <br/>
                    </form>
                </td>
                <td>
                    <form method="POST" action="@controllers.routes.JobsController.delete(jobDetail.job.id.get)">
                        <input type="submit" value="Delete"/>
                        <br/>
                    </form>
                </td>
                <td>
                    <form method="POST" action="@controllers.routes.JobsController.clearLastRun(jobDetail.job.id.get)">
                        <input type="submit" value="Clear Last Run"/>
                        <br/>
                    </form>
                </td>

            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Displayed total jobs count: @{
                    jobDetails.size
                }
                </td>
                <td>
                    <form method="POST" action="@controllers.routes.JobsController.add">
                        <input type="submit" value="Add Job"/>
                        <br/>
                    </form>
                </td>
                <td>
                    <form method="POST" action="@controllers.routes.JobsController.runAll">
                        <input type="submit" value="Run All"/>
                        <br/>
                    </form>
                </td>
                <td>
                    <form method="POST" action="@controllers.routes.JobsController.clearLastRunAll">
                        <input type="submit" value="Clear Last Run"/>
                        <br/>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>

    <h1>Possible job run order: </h1>
    <table border="1px solid black">
        <thead>
            <tr>
                <td>Set No</td>
                <td>Possible Schedule</td>
            </tr>
        </thead>
        <tbody>
        @for((order, no) <- runOrder.zipWithIndex) {
            <tr>
                <td>@(no + 1)</td>
                <td>@order.map(_.job.name).mkString(" => ")</td>
            </tr>
        }
            @if(runOrder.isEmpty){
                <tr>
                    <td></td>
                    <td>No job is in the pipeline!!!</td>
                </tr>
            }
        </tbody>
    </table>
}